/* Default Settings */
button{
    border: none;
    cursor: pointer;
}

/* Selector */
.selector{
    background: #efefef;
    border: none;
    padding: 5px 10px;

    width: 120px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    transition: linear 0.15s;
}

.selector:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px, rgba(0, 0, 0, 0.3) 0px 5px 11px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}

.selector:focus{
    box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
    background: rgb(107, 107, 107);
    color: #fff;
}

.selector option{
    background: rgb(107, 107, 107);
}

/* Button */
.btn{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #efefef;
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

    transition: linear 0.15s;
}

.btn:hover{
    box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
}

.btn:active{
    background: rgb(107, 107, 107);
    color: #fff; 
}