.block-auth{
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-auth__logo-btn{
    margin-bottom: 12px;
}

.block-auth__logo-btn > svg {
    height: 40px;
    stroke: var(--primary-composite);
}

.auth{
    width: 100%;
    font-size: 16px;

    padding: calc(var(--page-padding) + 10px) var(--page-padding);
    background-color: var(--background-primary);
    /* background-color: var(--gray-100); */
    border-radius: var(--border-radius);

    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.auth > .textblock__input {
    height: 32px;
}
