:root {
    --md-font-size: 15px;
    --md-bg-color: var(--background-primary);
    --md-fg-color: var(--primary-font);
    --md-border-width: 1px;
    --md-border-color: var(--gray-400);
    --md-border-radius: 0.5em;
    /* --md-margin-bottom: 16px; */
    --md-margin-bottom: 1rem;

    --md-blockquote-border-color: var(--primary-main);
    --md-blockquote-border-width: 5px;
    --md-blockquote-bg-color: none;

    --md-pre-code-bg: var(--gray-100);
    --md-code-bg: var(--gray-200);

    --md-link-color: var(--link-font);
}

/* TEST STYLE WITH https://github.com/tchapi/markdown-cheatsheet */
.markdown {
    display: block;
    font-size: var(--md-font-size);
    max-width: 100%;
}

.markdown * {
    font-size: 1em;
    line-height: 1.5em;
}

.markdown code, .markdown kbd, .markdown pre {
    font-family: monospace, monospace;
    font-size: 0.95em;
}

/* HEADING "#" */
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: var(--md-margin-bottom);
}

.markdown h1 {
    font-size: 2.2em;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--md-border-color);
}

.markdown h2 {
    font-size: 2em;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--md-border-color);
}

.markdown h3 {
    font-size: 1.8em;
}

.markdown h4 {
    font-size: 1.6em;
}

.markdown h5 {
    font-size: 1.4em;
}

.markdown h6 {
    font-size: 1.2em;
}

/* TEXT */
.markdown > p {
    margin-bottom: var(--md-margin-bottom);
}

/* HR */
hr {
    padding: 1px;
    background-color: var(--md-border-color);
    border: none;
    margin-bottom: var(--md-margin-bottom);
}

/* BLOCKQUTE ">" */
.markdown blockquote {
    background-color: var(--md-blockquote-bg-color);
    border-left: var(--md-blockquote-border-width) solid var(--md-blockquote-border-color);
    padding: .1em 1em .05em 0.8em;

    margin-bottom: var(--md-margin-bottom);
}

blockquote p {
    padding-bottom: 0.05em;
    margin-bottom: 0px;
}

blockquote blockquote {
    margin-bottom: 2px !important;
}

/* CODE "```" */
.markdown pre {
    display: block;
    padding: 15px;
    background-color: var(--md-pre-code-bg);
    border-radius: var(--md-border-radius);
    margin-bottom: var(--md-margin-bottom);

    overflow: auto;
}

.markdown pre code {
    line-height: 1.2em;
}

/* CODE "`" */
p code {
    padding: 3px 5px;
    background-color: var(--md-code-bg);
    border-radius: 0.3em;
    color: var();
}

/* IMG "![name](link)" */
.markdown img{
    max-width: 100%;
}


/* link "[]()" */
.markdown a {
    color: var(--md-link-color);
}

.markdown a:hover {
    text-decoration: underline;
}

/* Lists */
.markdown ul, .markdown ol {
    display: block;
    padding-inline-start: 1.5em;
}

.markdown>ul, .markdown>ol {
    margin-bottom: var(--md-margin-bottom);
}

/* Summary */
.markdown summary {
    font-size: 1.1em;
}

.markdown details {
    margin-bottom: var(--md-margin-bottom);
}

/* KBD */
.markdown kbd {
    padding: 0.05em 0.2em;
    border: 0.1em solid var(--md-border-color);
    border-bottom: 0.2em solid var(--md-border-color);
    border-radius: 0.25em;
    margin-top: 0;
    /* user-select: none; */

    transition: border 0.1s;
}

.markdown kbd:hover, .markdown kbd:focus {
    background-color: var(--md-code-bg);
}

.markdown kbd:active {
    border: 0.1em solid var(--md-border-color);
    background-color: var(--md-border-color);
}