.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;

    margin-bottom: 10px;
}

.user-block{
    border: 1px solid var(--gray-400);
    padding: 10px;
    border-radius: 5px;
}

.user-avatar{
    overflow: hidden;
    min-width: 38px;
    max-width: 38px;
    width: 100%;
    min-height: 38px;
    max-height: 38px;
    height: 100%;
    margin-right: 5px;
    border-radius: var(--border-radius);
}
.user-avatar > img {
    width: 100%;
}
.user-details{
    flex: 1;
}
.user-created-time{
    color: var(--gray-700);
}
.user-detail-text{
    color: var(--gray-700);
}


.tag-block-text {}

.tag-block-subtitle {
    color: var(--gray-400);
}

@media(max-width: 980px) {
    .users {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 720px) {
    .users {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 640px) {
    .users {
        grid-template-columns: repeat(1, 1fr);
    }
}