{{ define "md-footer" }}
        <footer class="container footer">
            <p class="footer-text">2021 | by <a class="footer-text-link" target="_blank"
                    href="https://github.com/Dias1c">Dias1c</a> & <a class="footer-text-link" target="_blank"
                    href="https://github.com/RaevNur">nrblzn</a> | Project <a class="footer-text-link" target="_blank"
                    href="#">here</a></p>
        </footer>
{{ end }}