{{ define "md-sidebar-menu-nav" }}
    <div class="main-sidebar">
        <a class="sidebar-nav-link" href="/" data-nav-selected>Home</a>
        <p class="sidebar-nav-title">Public</p>
        <a class="sidebar-nav-link sub-nav-link" href="questions">Questions</a>
        <a class="sidebar-nav-link sub-nav-link" href="tags">Tags</a>
        <a class="sidebar-nav-link sub-nav-link" href="users">Users</a>
    </div>
{{ end }}