<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TAB -->
    <link rel="shortcut icon" href="static/icons/forum.svg" type="image/png">
    <title>Questions</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <div class="page">
        <!-- HEADER -->
        <header class="container header">
            <label class="header__menu-btn d-flex" id="cb_HeaderMenu">
                <input type="checkbox" />
                <span></span>
            </label>
            <div class="header__menu-block" id="b_HeaderMenu">
                <div class="main-sidebar">
                    <a class="sidebar-nav-link" href="index.html" data-nav-selected>Home</a>
                    <p class="sidebar-nav-title">Public</p>
                    <a class="sidebar-nav-link sub-nav-link" href="questions.html">Questions</a>
                    <a class="sidebar-nav-link sub-nav-link" href="tags.html">Tags</a>
                    <a class="sidebar-nav-link sub-nav-link" href="users.html">Users</a>
                </div>
            </div>

            <a class="header__logo-btn" href="/">
                <svg viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M18.816 13.58c2.292 2.138 3.546 4 3.092 4.9c-.745 1.46 -5.783 -.259 -11.255 -3.838c-5.47 -3.579 -9.304 -7.664 -8.56 -9.123c.464 -.91 2.926 -.444 5.803 .805" />
                    <circle cx="12" cy="12" r="7" />
                </svg>
                <h2 class="header__logo-btn-text">Forum</h2>
            </a>
            <a class="header-btn" href="#">About</a>
            <!-- header SEARCH -->
            <label type="checkbox" class="search-btn" id="cb_HeaderSearch" data-show-on-md>
                <input type="checkbox" />
                <svg width="44" height="44" viewBox="0 0 24 24" stroke-width="2.5" stroke="#bdb8b8" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="10" cy="10" r="7" />
                    <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
            </label>
            <form class="header__search-block" id="b_HeaderSearch">
                <p class="header__search-text" data-hide-on-lg>Looking Up?</p>
                <div class="header__search">
                    <svg width="44" height="44" viewBox="0 0 24 24" stroke-width="2.5" stroke="#d3cfcf" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="10" cy="10" r="7" />
                        <line x1="21" y1="21" x2="15" y2="15" />
                    </svg>
                    <input class="header__search-input" type="text" placeholder="Search..." />

                    <!-- TOOLTIP -->
                    <div class="header__search-hint">
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">[tag]</span>
                            <span>search within a tag</span>
                        </div>
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">answers:0</span>
                            <span>unanswered questions</span>
                        </div>
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">"has words"</span>
                            <span>exact phrase</span>
                        </div>
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">score:2</span>
                            <span>posts with a 2+ score</span>
                        </div>
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">user:id</span>
                            <span>search by author</span>
                        </div>
                        <div class="header__search-hint-text">
                            <span class="header__search-hint-text-title">isaccepted:yes</span>
                            <span>search within status</span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- header BTNS -->
            <div class="header__auth-btns">
                <a href="login.html" class="btn btn--normal btn--secondary-v2 text-no-wrap">Log in</a>
                <a href="signup.html" class="btn btn--normal btn--secondary-v1 text-no-wrap">Sign up</a>
            </div>
        </header>
        <!-- container__intro -->
        <div class="container container__intro">
            <img class="container container__intro__img"
                src="https://cdn.pixabay.com/photo/2017/07/10/23/43/question-mark-2492009_960_720.jpg" alt="">
            <div class="container__intro__content">
                <div class="container__intro__content__block-welcome">
                    <h2 class="block-welcome__title">Hello User</h2>
                    <p class="block-welcome__text mb-12">Forum created for discussion, to give solutions to issues</p>
                    <a href="/question-create.html" class="btn btn--big btn--secondary-v1"><b
                            class="fnt-size-150 fnt-color-inherit">Ask Question</b></a>
                </div>
                <div class="container__intro__content__block-statistics">
                    <div class="block-statistics__statistic">
                        <span class="main-title mb-12">1000</span>
                        <span class="fnt-gray">users</span>
                    </div>
                    <div class="block-statistics__statistic">
                        <span class="main-title mb-12">5000</span>
                        <span class="fnt-gray">questions</span>
                    </div>
                    <div class="block-statistics__statistic">
                        <span class="main-title mb-12">5000</span>
                        <span class="fnt-gray">answers</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- container__questions -->
        <div class="container container__questions">
            <div class="container__questions-title-block">
                <div class="main-title mb-0">Most Questions</div>
                <button class="btn btn--normal btn--secondary-v2 ml-auto">Random Question</button>
            </div>
            <!-- QUESTION POSTS -->
            <div class="questions">
                <div class="question-post">
                    <div class="question-category">
                        <div class="fnt-gray fnt-size-110">Most Viewed</div>
                    </div>
                    <div class="question-stats">
                        <div class="question-stat">
                            <span class="question-stat-digit">0</span>votes
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>answers
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>views
                        </div>
                    </div>
                    <div class="question-summary">
                        <a href="question.html" class="question-title linked-text" data-limit-lines-on
                            data-limit-lines='2'>how to code
                            if this element activated the other
                            element changes with html and css?</a>
                        <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know
                            if
                            it's possible to click on an element and
                            then change another element only using Html and CSS and if it is then how. some
                            thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                            dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id
                            esse
                            veniam illo assumenda rem?</div>
                        <div class="question-marks-block">
                            <div class="question-tags">
                                <a href="#" class="btn-tag">html</a>
                                <a href="#" class="btn-tag">css</a>
                                <a href="#" class="btn-tag">golang</a>
                            </div>
                            <div class="question-user">
                                <a class="user-avatar" href="user.html"><img src="static/img/avatar.jpeg"
                                        alt="user-avatar">
                                </a>
                                <div class="user-details">
                                    <a class="linked-text" href="user.html">Dias Kappassov</a>
                                    <div class="user-action-time">asked <span title="2021.12.03 20:20:52"
                                            class="relativetime">1 mins ago</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question-post">
                    <div class="question-category">
                        <div class="fnt-gray fnt-size-110">Most Voted</div>
                    </div>
                    <div class="question-stats">
                        <div class="question-stat">
                            <span class="question-stat-digit">0</span>votes
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>answers
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>views
                        </div>
                    </div>
                    <div class="question-summary">
                        <a href="question.html" class="question-title linked-text" data-limit-lines-on
                            data-limit-lines='2'>how to code
                            if this element activated the other
                            element changes with html and css?</a>
                        <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know
                            if
                            it's possible to click on an element and
                            then change another element only using Html and CSS and if it is then how. some
                            thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                            dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id
                            esse
                            veniam illo assumenda rem?</div>
                        <div class="question-marks-block">
                            <div class="question-tags">
                                <a href="#" class="btn-tag">html</a>
                                <a href="#" class="btn-tag">css</a>
                                <a href="#" class="btn-tag">golang</a>
                            </div>
                            <div class="question-user">
                                <a class="user-avatar" href="user.html"><img src="static/img/avatar.jpeg"
                                        alt="user-avatar">
                                </a>
                                <div class="user-details">
                                    <a class="linked-text" href="user.html">Dias Kappassov</a>
                                    <div class="user-action-time">asked <span title="2021.12.03 20:20:52"
                                            class="relativetime">1 mins ago</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question-post">
                    <!-- <div class="btn-tag mb-12">Random</div> -->
                    <div class="question-category">
                        <div class="fnt-gray fnt-size-110">Random</div>
                    </div>
                    <div class="question-stats">
                        <div class="question-stat">
                            <span class="question-stat-digit">0</span>votes
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>answers
                        </div>
                        <div class="question-stat">
                            <span class="question-stat-digit"> 0</span>views
                        </div>
                    </div>
                    <div class="question-summary">
                        <a href="question.html" class="question-title linked-text" data-limit-lines-on
                            data-limit-lines='2'>how to code
                            if this element activated the other
                            element changes with html and css?</a>
                        <div class="question-text" data-limit-lines-on data-limit-lines='4'>I want to know
                            if
                            it's possible to click on an element and
                            then change another element only using Html and CSS and if it is then how. some
                            thing like this ( btw this code doesn't work ). Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Modi magnam, molestias, eveniet soluta adipisci
                            dolorem inventore cupiditate nisi eum a reiciendis alias cumque deleniti. Id
                            esse
                            veniam illo assumenda rem?</div>
                        <div class="question-marks-block">
                            <div class="question-tags">
                                <a href="#" class="btn-tag">html</a>
                                <a href="#" class="btn-tag">css</a>
                                <a href="#" class="btn-tag">golang</a>
                            </div>
                            <div class="question-user">
                                <a class="user-avatar" href="user.html"><img src="static/img/avatar.jpeg"
                                        alt="user-avatar">
                                </a>
                                <div class="user-details">
                                    <a class="linked-text" href="user.html">Dias Kappassov</a>
                                    <div class="user-action-time">asked <span title="2021.12.03 20:20:52"
                                            class="relativetime">1 mins ago</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container__registr -->
        <div class="container container__lure">
                <h2 class="container__lure-title">Have you tried?</h2>
                <p class="container__lure-text">Perhaps your question has already been asked, you can see it in the questions tab</p>
                <a href="/questions" class="btn btn--big btn--secondary-v1"><b
                        class="fnt-size-120 fnt-color-inherit">Questions</b></a>
        </div>
        <!-- FOOTER -->
        <div class="container footer">
            <p class="footer-text">2021 | by <a class="footer-text-link" target="_blank"
                    href="https://github.com/Dias1c">Dias1c</a> & <a class="footer-text-link" target="_blank"
                    href="https://github.com/RaevNur">nrblzn</a> | Project <a class="footer-text-link" target="_blank"
                    href="#">here</a></p>
        </div>
    </div>

    <!-- JS -->
    <script src="static/js/header.js"></script>
    <script src="static/js/default.js"></script>
</body>

</html>