<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- jquery TAGS -->
    <link rel="stylesheet" href="static/css/vars.css">
    <link rel="stylesheet" href="static/css/default.css">
    <!-- <link rel="stylesheet" href="static/css/buttons.css"> -->
    <!-- <link rel="stylesheet" href="static/css/tag-editor.css"> -->
</head>

<body>
    <form action="/" method="GET">
        <div class="container">
            <input name="tags" type="text" style="display: none;" id="tb_Tags">
            <div class="textblock__input" id="b_TagEditor">
                <input type="text" value="css">
            </div>
        </div>
    </form>

    <!-- JS -->
    <script src="static/js/default.js"></script>
</body>

</html>